.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
}
h3 {
  margin-bottom: 1rem;
}

.custom-node {
  position: relative;
  min-width: 150px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 7px 7px 7px 7px;
  border-bottom-width: 10px solid #000;
  padding-bottom: 20px;
  border: 1px solid transparent;
  transition: border 300ms ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.custom-node:hover {
  transition: border 300ms ease;
  border: 1px solid #cacddb;
}

.custom-node-header {
  flex-grow: 1;
  padding: 8px 12px;
  margin-bottom: 16px;
  color: #312227;
  border-radius: 7px 7px 0px 0px;
  border-bottom: 2px solid grey;
  border-bottom-width: 10px solid #000;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1px;
  border-bottom: 2px solid grey;
}

.handleContainer {
  color: #636776;
  font-size: 12px;
  flex-grow: 1;
  padding: 8px;
  position: relative;
  text-align: center;
}

.custom-node-subheader__inputs {
  justify-content: flex-start;
}
.custom-node-subheader__output {
  justify-content: flex-end;
}
.custom-handle {
  width: 8px;
  height: 8px;
  border-radius: 12px;
  background: #898d9c;
  border: 2px solid #edeff5;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: absolute;
}
.custom-handle:hover {
  border: 0px solid #edeff5;
}
